.UserBox-Component {
    /* border: 1px solid black; */
    /* width: 120px; */
    height: 100%;
    height: 47px;
    text-align: center;
}

.UserBox-Component .User-Info {}

.UserBox-Component button {
    background-color: #fc6472;
    color: #FFFFFF;
    border: none;
    width: 125px;
    height: 47px;
    border-radius: 5px;
    cursor: pointer;
}